body {
    background-color:#2F4F4F;
}

.banner{
    background-image: url("../Images/BannerBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100wh; 
    padding: 5px;

}

.RestaurantName{
    color:white;
    text-align: left;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

.navbar{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.navbar  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 20px 20px;
    margin-right: 100px;
    
}


.navbar li a{
    margin-right: 50px;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

#footer{
    padding-bottom: 150px;
    background-color: orange;
}