*{
    margin: 0px;
    padding: 0px;
}


.wrapper{
    width: 100vw;
    height: 100vh;
}

header{
    padding: 20px;
    color: white;
}

.cardArea{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 3em;
    padding-bottom: 30px;
}


.cardArea  section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 100vw;
    padding: 0 50px;
}

.cardArea section div {
    position: relative;
    background-image: url("../Images/SeasideRestaraunt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: black;
    width: 600px;
    height: 300px;
}

.cardArea .card_title{
    position: absolute;
    bottom: 0px;
    color:black;
    font-size: 2em;

}

.cardArea div:hover{
    transform: scale(1.2);
    transition: transform 250ms ease-in;
    
}











